@page
@model Programare_consultatii_clinica_veterinara.Pages.Recenzii.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Recenzie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Recenzie.Medic" class="control-label"></label>
                <select asp-for="Recenzie.MedicID" class ="form-control" asp-items="ViewBag.MedicID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Recenzie.Pacient" class="control-label"></label>
                <select asp-for="Recenzie.PacientID" class ="form-control" asp-items="ViewBag.PacientID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Recenzie.Scor" class="control-label"></label>
                <input asp-for="Recenzie.Scor" class="form-control" />
                <span asp-validation-for="Recenzie.Scor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recenzie.Comentariu" class="control-label"></label>
                <input asp-for="Recenzie.Comentariu" class="form-control" />
                <span asp-validation-for="Recenzie.Comentariu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
